.env.local
.env.sagemaker
.vscode
.venv
data
models
local
.vscode
.ipynb_checkpoints
src/models
__pycache__
*.pyc
.pytest_cache
deployment.ipynb
push_to_aws.sh
push_env_variables_to_ssm.sh

rtdetr_output
folder_ravil
tmp*
*.png
script.py
src/onnx_models
docs


output 
dicom_input